:root.theme-light {
  --page-background-color: #fff1f7;
  --page-background-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --button-hover-color: rgba(53, 52, 48, 0.4);
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-decor-text-color: #353430;
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-background-color: #fff1f7;
    --page-background-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --button-hover-color: rgba(53, 52, 48, 0.4);
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-decor-text-color: #353430;
  }

  .header__rec {
    display: none;
  }
}
